<!DOCTYPE html>
<html lang="en">
<head>
    <title> Sample-Node.js-Application</title>
    {{>head}}
</head>

<body>
{{>navbar}}
<div class="container">
    {{{body}}}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>
