<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Profile</h1>

        <p>Hello There {{ user.local.first_name }}</p>
        <p> First Name : {{ user.local.first_name }} </p>
        <p> Last Name : {{ user.local.last_name }} </p>
        <p> email : {{ user.local.email }} </p>

        </div>

</div>
